---
layout: page
title: blog
permalink: /blog/
---

<div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p>subscribe <a href="{{ site.url }}/atom.xml">via RSS</a></p>

</div> 
