---
layout: default
title: home
---

<article class="row">
  <section class="small-12 large-8 columns page-content">

<h2>Т</h2>
  
<!-- <p>Slim Pickins is what I consider to be a minimal 'core' theme with everything I need to quickly develop new themes for Jekyll.</p> -->

<h2>Basic features include:</h2>

  <ul>
    <li>Jekyll 3.0 Compatibility</li>
    <li>SASS</li>
    <li>Minimal Foundation Zurb 6 integration</li>
    <li>Responsive grid</li>
    <li>Responsive navigation</li>
    <li>Optional full-width banner</li>
    <li>Sticky footer</li>
    <li><strong>Javascript free</strong></li>
    <li>Custom Rakefile with tasks for deploying and notifying search engines about updates</li>
    <li>image_optim plugin to optimize all images</li>
    <li>Basic SEO</li>
  </ul>
  </section>
    {% include asides/recent_posts.html %}
</article>
